@font-face{
font-family: DK Running Hipster.otf;
src:url("fonts/DK Running Hipster.otf");

}

body{
font-family:DK Running Hipster;
overflow: auto;
}

div.container{
	padding:50px;
	margin: -10px;
	text-align: center;
	background-color: #33cccc;
}

div.series{
	text-align: center;
}
div.msg-icon{
	text-align: center;
	}
	
div.wp{
	position: absolute;
	left: 520px;
}

div.fb{
	position: absolute;
	left: 610px;
}	

div.twitter{
	position: absolute;
	left: 700px;
}	

div.insta{
	position: absolute;
	left: 790px;
}	
	
div.par{
	margin:10px;
	padding:30px;
}
section.about{
	background-color: #ffccff;
	height: 500px;
	padding:20px;
	margin: -10px;
	margin-bottom:0;
}
	
h1.about{
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top:2px;
}

p{
	text-align: center;
	font-size: 30px;
	color: #645345;
}