body{
	font-family: corbel;
	text-align: center;
	}
p.me{
	position: absolute;
	top: 30px;
	left:650px;
	}

h1{
	margin-bottom: 50px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom:10px;
}

p{
	text-align: center; 
}

a{
	text-decoration:none;
	color: #333333;
}

a:hover{
	background-color: none;
	color: #953333;
}

div.par{
	width: 500px;
	position: absolute;
	left: 430px;
}

div.home{
	position: absolute;
	left: 1100px;
	top:20px;
}

div.works{
	position: absolute;
	left: 1150px;
	top:20px;
}

div.image-1{
	position: absolute;
	left: 50px;
	top: 150px;
	}
	
div.image-2{
	position: absolute;
	left: 900px;
	top: 240px;
	}
	
div.image-3{
	position: absolute;
	left: 10px;
	top: 60px;
	}