body{
		font-family: corbel;
		overflow: auto;
		text-align: center;
	}
	
p.first{
	font-size: 30px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 2px;
}

p{font-size: 20px;}
	
div.home{
	position: absolute;
	left: 1100px;
	top:20px;
}
div.image-1{ 
		position: absolute;
		left: 200px;
		top: 100px;
	}

div.img-p1{
	width:400px;
	position: absolute;
	left: 470px;
	text-align: justify;
	top: 170px;

}

div.image-3{ 
		position: absolute;
		left: 730px;
		top: 500px;
	}

div.img-p2{
	width:400px;
	position: absolute;
	left: 290px;
	text-align: justify;
	top: 600px;

}


div.image-2{ 
		position: absolute;
		left: 200px;
		top: 1030px;
	}
	
div.image-4{ 
		position: absolute;
		left: 500px;
		top: 900px;
	}
	
div.image-5{ 
		position: absolute;
		left: 800px;
		top: 1000px;	
	}
		
div.img-p3{
	width:400px;
	position: absolute;
	left: 490px;
	text-align: justify;
	top: 1300px;

}

div.image-6{ 
		position: absolute;
		left: 100px;
		top: 1500px;	
	}
		
div.img-p4{
	width:600px;
	position: absolute;
	left: 590px;
	text-align: justify;
	top: 1595px;

}